## Uvicorn settings
UVICORN_HOST=0.0.0.0
UVICORN_PORT=8080
UVICORN_RELOAD=true

## Database settings
DATABASE_URL=postgresql+psycopg://postgres:your_password@db.your-project.supabase.co:5432/postgres?sslmode=require
# DB_ECHO=false

# Optional overrides
# APP_ENV=development
